astmonkey==0.3.6
astroid==4.0.4
bandit==1.9.4
black==26.5.1
build==1.4.0
chardet==7.4.3
click==8.3.1
colorama==0.4.6
coverage<6.0,>=4.4
dill==0.4.1
hypothesis==6.155.2
iniconfig==2.3.0
isort==8.0.1
Jinja2==3.1.6
libcst==1.8.6
librt==0.8.1
linkify-it-py==2.1.0
-e git+https://github.com/fim481-los-tres-chanchitos/los-tres-chanchitos@63894cb4831583d3e8d3919b9318a46462657926#egg=los_tres_chanchitos
markdown-it-py==4.0.0
markdown2==2.5.5
MarkupSafe==3.0.3
mccabe==0.7.0
mdit-py-plugins==0.6.1
mdurl==0.1.2
multimetric==2.4.4
mutatest==3.1.0
mutmut==3.6.0
MutPy==0.6.1
mypy==1.19.1
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.0
pathspec==1.0.4
pdoc==16.0.0
pip-tools==7.5.3
platformdirs==4.9.4
pluggy==1.6.0
pydot==4.0.1
Pygments==2.20.0
pylint==4.0.5
pylint-pytest==1.1.7
pyparsing==3.3.2
pyproject_hooks==1.2.0
pyright==1.1.410
pytest==9.0.2
pytest-cov
pytest-gremlins==1.8.1
pytokens==0.4.1
PyYAML==6.0.3
rich==14.3.3
ruff==0.15.4
setproctitle==1.3.7
sortedcontainers==2.4.0
stevedore==5.8.0
termcolor==3.3.0
textual==8.2.7
tomlkit==0.14.0
typing_extensions==4.15.0
uc-micro-py==2.0.0
